.widgetbs {
        font-size: 16px;
        line-height: 1.3;
        font-family: Arial, Sans-Serif;
}

.widgetbs .modal-xl {
        max-width: 98%;
}

.widgetbs .btn-check:focus + .btn-info, .widgetbs .btn-info:focus {
        box-shadow: none;
}

.widgetbs .btn-info {
        background-color: #0ba4e6;
        border-color: #0ba4e6;
        color: white;
}

.widgetbs .btn-info:hover, .widgetbs .btn-info:active, .widgetbs .btn-info:focus {
        color: white;
        background-color: #0d8fc6;
        border-color: #0d8fc6;
}

.widgetbs .form-control {
        height: auto;
}

.widgetbs .btn, .widgetbs .form-control, .widgetbs .form-select, .widgetbs .dropdown-menu {
        font-size: 1em !important;
}

#olza-main {
    height: calc(100vh - 160px);
}

/* --------------------------------------------
                    WIDGET HEADER
----------------------------------------------- */

#olza-widget-main {
	display: none;
	flex-direction: column;
	background-color: rgba(11, 164, 230, 0.2);
}

#olza-widget-main .modal-header {
	background-color: #f5f5f5;
}

#olza-widget-title {
	font-weight: bold;
}

#olza-logo img {
	height: 80px;
	border: 0px;
}

#olza-language-selector img {
	width: 35px;
	height: 25px;
	margin-left: 4px;
	padding: 3px;
	border: #e9e9e9 solid 1px;
	border-radius: 5px;
}

.widgetbs .dropdown-item {
    cursor: pointer;
}

/* --------------------------------------------
                    SEARCH
----------------------------------------------- */

#olza-search {
	position: relative;
	border: #0ba4e6 solid 1px;
	background-color: #f8f8f8;
}

#olza-search-form-container {
	padding: 10px;
}

#olza-search-button {
	background-color: #0ba4e6;
	border-color: #0ba4e6;
	position: absolute;
	right: 0;
	bottom: 0;
	border-radius: 0 4px 4px 0;
}

#olza-search .form-select:focus, #olza-search .form-control:focus {
	outline: none;
	box-shadow: none;
}

#olza-search-filters .icon {
	width: 25px;
	height: 25px;
}

.widgetbs .form-check-input:checked {
    background-color: #0ba4e6;
    border-color: #0ba4e6;
}

/* --------------------------------------------
              ADDITIONAL FILTERS
----------------------------------------------- */

.olza-search-filters-container {
    display: block;
}

.olza-search-filters-button {
    color: white;
    background-color: #198754;
    padding: 8px;
    display: block;
    margin: 15px 0 0 0;
    padding: 10px;
    line-height: initial;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='white' viewBox='0 -5 25 25'%3E%3Cpath fill-rule='evenodd' d='M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3Cpath fill-rule='evenodd' d='M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

a.olza-search-filters-button {
    color: white;
    text-decoration: none;
}

a.olza-search-filters-button:hover {
    background-color: #157347;
    color: white;
}

.olza-search-filters-item {
    background-color: #e5e5e5;
}

.widgetbs .form-switch .form-check-input {
    cursor: pointer;
}

.widgetbs .form-check-label {
    cursor: pointer;
}

/* --------------------------------------------
                    NEARBY
----------------------------------------------- */

#olza-nearby {
	padding: 10px;
	border: #0ba4e6 solid 1px;
	background-color: #f8f8f8;
	overflow: auto;
	height: calc(100vh - 400px);
	scrollbar-width: thin;
}

#olza-nearby .default-message {
        display: inline-block;
        text-align: center;
        width: 100%;
        padding-top: 10px;
}

.olza-nearby-item {
	border: #e9e9e9 solid 1px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	background-color: white;
        cursor: pointer;
}

.olza-nearby-item:hover {
	background-color: #eeeeee;
}

.olza-nearby-item .logo {
	width: 30px;
	height: 30px;
	margin-right: 4px;
}
.olza-nearby-feature-icons {
	padding-left: 10px;
}

.olza-nearby-feature-icons .icon {
	width: 25px;
	height: 25px;
	padding: 2px;
}

.olza-nearby-name {
	font-weight: bold;
	color: darkred;
}

.olza-nearby-address {
	font-size: 0.9em;
}

.olza-nearby-distance {
	font-size: 0.8em;
	color: #555555;
}

.widgetbs .nearby-wrap {
	margin-top: 15px;
	position: relative;
}

.widgetbs .nearby-wrap input[type="checkbox"] {
	display: none;
}

.widgetbs .lbl-toggle {
	display: block;
	background: #0ba4e6;
	cursor: pointer;
	transition: all 0.25s ease-out;
	padding: 10px;
	color: white;
        width: 100%;
        margin: 0;
        font-weight: 400;
}

/* --------------------------------------------
                    MAP
----------------------------------------------- */

#olza-right {
	padding-right: 25px;
        height: 100%;
}

#olza-map {
	padding: 0px;
	border: #0ba4e6 solid 1px;
	background-color: #f8f8f8;
}

#olza-map .leaflet-control a {
        text-decoration: none;
        color: #0ba4e6;
}

/* --------------------------------------------
                    DETAILS
----------------------------------------------- */

#olza-pp-details {
	border: #0ba4e6 solid 1px;
	padding: 0px;
	margin-top: 15px;
        position: relative;
	/* height: 250px; */
}

#olza-pp-details-logo {
	width: 100%;
}

#olza-pp-details-info {
	line-height: 22px;
}

#olza-pp-details-hours img {
	width: 30px;
	height: 30px;
	border: 0;
}

#olza-pp-details-buttons {
	border-top: #dddddd solid 1px;
        padding-bottom: 10px;
}

#olza-pp-details-box {
	display: flex;
	flex-direction: row;
        padding: 10px;
}

#olza-pp-details-box table {
	table-layout: auto;
	width: 100%;
}

#olza-pp-details-box table td {
	padding-top: 2px;
	font-size: 0.9em;
}

#olza-pp-details-spedition {
	font-weight: bold;
}

#olza-pp-details-hours-header {
	font-weight: bold;
	font-size: 1em;
}

#olza-pp-details-hours {
	font-size: 14px;
	padding-bottom: 10px;
}

#olza-pp-details-hours-icons {
}

#olza-pp-details-hours-icons img {
	width: 30px;
	height: 30px;
	padding: 4px;
}

#olza-pp-details-service-icons {
}

#olza-pp-details-service-icons img {
	width: 30px;
	height: 30px;
	padding: 4px;
}

#olza-pp-details-buttons .bi {
	position: relative;
	top: -1px;
}

#olza-pp-details-buttons button {
	min-width: 200px;
}

.olza-pp-details-close-button {
        position: absolute;
        right: 1px;
        top: 1px;
        background-color: #0ba4e6;
        color: #fff;
        padding: 3px 5px 5px 5px;
        cursor: pointer;
}


/* --------------------------------------------
                LOADER
----------------------------------------------- */

.olza-busy {
	background-color: rgba(9, 164, 230, 0.5);
	position: absolute;
	z-index: 9999;
	width: 100%;
	height: 100%;
	text-align: center;
	display: none;
	padding: 0px;
	margin: 0px;
}

.olza-busy img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
}

/* --------------------------------------------
                    AUTOCOMPLETE
----------------------------------------------- */

.auto-search-wrapper {
	display: block;
	position: relative;
	width: 100%;
}

.auto-results-wrapper {
        max-height: calc(100vh - 280px);
        overflow: auto;
}

.olza-autocomplete-item .logo {
	width: 30px;
	height: 30px;
	margin-right: 4px;
}

.olza-autocomplete-item .highlight {
	color: red;
	font-weight: bold;
}

.olza-autocomplete-item .address {

}

/* --------------------------------------------
                    RESPONSIVE
----------------------------------------------- */

@media (max-width: 1250px) {

        .widgetbs .form-check-inline {
            margin-right: 0.7rem;
        }

}

@media (max-width: 1200px) {

        .widgetbs .modal-xl {
                max-width: 98%;
        }

}

@media (max-width: 992px) {

        .widgetbs .modal-xl {
                max-width: 97%;
        }

}

@media screen and (max-width: 768px) {

	#olza-pp-details-box {
		display: block;
		flex-direction: row;
	}

	#olza-map {
		min-height: 360px;
	}

	.widgetbs .nearby-wrap {
		margin-bottom: 15px;
	}

	#olza-nearby-busy img, #olza-nearby-busy img {
		width: 30px;
		height: 30px;
		border: 0;
	}

	.widgetbs .lbl-toggle:hover {
		background-color: #1391c8;
	}

	.widgetbs .lbl-toggle::after {
		content: " ";
		display: inline-block;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 5px solid currentColor;
		transform: translateY(-2px);
		transition: transform 0.2s ease-out;
		margin: 7px 5px 0 0;
		float: right;
	}

	.widgetbs .toggle:checked + .lbl-toggle::after {
		transform: rotate(90deg) translateX(-3px);
	}

	.widgetbs .collapsible-content {
		max-height: 0px;
		overflow: hidden;
		transition: max-height 0.25s ease-in-out;
	}

	.widgetbs .toggle:checked + .lbl-toggle + .collapsible-content {
		max-height: 300px;
		border-bottom: 1px solid #0ba4e6;
	}

	.widgetbs .toggle:checked + .lbl-toggle {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	#olza-right {
		padding-left: 25px;
	}

        #olza-main {
            height: auto;
        }

}

@media (max-width: 576px) {

        .widgetbs .modal-dialog {
                max-width: 96%;
        }

}

@media (min-width: 576px) {

        .widgetbs .modal-dialog {
            margin: 0.5rem auto;
        }

}

@media (max-width: 480px) {

        #olza-nearby {
            min-height: 350px !important;
        }

}
